.audio-control {
  display: flex;
  margin: 20px;
}

.arrows-container {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 0 20px;
  height: 30px;
  width: 30px;
}

.value-label-container {
  width: 100px;
}
